/* Navbar.css */
nav {
  
  background-color: #f9f9f9; /* White background */
  padding: 0px 20px; /* Add some padding */
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc; /* Optional: adds a light border at the bottom */
  font-family:Arial, Helvetica, sans-serif;  
}

.logo {
  width: 100px; /* Adjust width as needed */
  height: 60px; /* Maintain aspect ratio */
  margin-right: 80%;/* Space between logo and links */
  /* border: 2px solid rgb(217, 210, 210); */
}

ul {
  list-style-type: none; /* Remove default list styling */
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px; /* Space between list items */
}

li {
  display: inline; /* Align list items horizontally */
  justify-content: center;
  align-items: center;
  /* border : 2px solid black; */
  padding:4px;
}

a {
  text-decoration: none; /* Remove underline from links */
  color: #333; /* Dark text color */
  font-weight: bold; /* Make text bold */
}

a:hover {
  color: #007bff; /* Change color on hover */
}

.navbutton{
    /* width: 25%; */
    padding: 7.5px;
    background-color: #181495;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.active{
  text-decoration: underline; 
  color:  #2d28b7;
}

.navbutton:hover{
  background-color: #007bff;
}